* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 40px;
    text-align: center;
    color: white;
    background: blue;
    font-weight: bold;
    font-size: 40px;
    /* font-size: 4vw;
    font-size: 4vh;
    font-size: 4vmax;
    font-size: 4vmin;
    font-size: 4em; */
    transition: all 3s;
}


